@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Satoshi";
    src: url("/Satoshi-Variable.ttf");
}

@font-face {
    font-family: "Glamour";
    src: url("/GlamourAbsolute_Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.background-gradient {
    background: radial-gradient(
            68.18% 68.18% at 50% 0%,
            rgba(59, 131, 246, 0.2) 0%,
            rgba(0, 0, 0, 0.2) 100%
        ),
        #020617;
}

.twitch-glow {
    opacity: 0.24;
    background: radial-gradient(
        283.59% 117.59% at 36.1% -52.05%,
        #9146ff 0%,
        #9146ff 100%
    );
    filter: blur(125px);
}

.inset-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.primary-button {
    border-radius: 12px;
    border: 1px solid #15803d;
    background: linear-gradient(
            180deg,
            rgba(21, 128, 61, 0.2) 0%,
            rgba(134, 239, 172, 0.2) 100%
        ),
        #86efac;
    @apply px-8 py-4 flex w-fit font-bold text-green-700 hover:scale-110 transition-all ease-linear duration-150 delay-75 shadow-button hover:shadow-hover;
}

.heading {
    @apply text-5xl text-slate-100 font-glamour;
}

.sub-heading {
    @apply text-2xl font-medium text-slate-400;
}

.green-glow {
    text-shadow: 0px 0px 56.8px 0px rgba(57, 206, 119, 0.8);
}

.atropos-highlight {
    background-image: radial-gradient(
        circle at 50%,
        rgba(175, 0, 255, 0.2),
        transparent 50%
    ) !important;
}

.typing::after {
    background-color: white !important;
}

@layer utilities {
    .pause {
        animation-play-state: paused;
    }
}
